.character {
    margin: 20px 10px 0px 20px;

    position: relative;

    background-color: #373737;
    border-radius: 5%;

    text-decoration: none;
    text-align: center;
}
.character {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #373737;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    z-index: 0;
}
.character:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.character:active {
    color: #000
}

.character:active:after {
    background: transparent;
}

.character:hover:before {
    opacity: 1;
}

.character:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #373737;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.left {
    display: flex;
    flex-direction: column;
    position: absolute;
    float: left;
}
.right {
    position: absolute;
    margin-left: 500px;
    margin-top: 20px;
    padding: 20px;
    height: 500px;
    width: 500px;

    border: 2px solid;
    border-color: #373737;
}
.image_name {
    height: 170px;
    width: 150px;

    float: left;
}
.main_infromation {
    width: 230px;
    height: 120px;

    float: right;
}
.main_information_item_button {
    width: 15px;
    height: 15px;
    border: none;
    background-image: url("change.png");
    background-size: cover;
}

.wrapper-buttons {
    display: flex;
    width: 80%;
    height: 65px;
    margin-left: 40px;
    margin-top: 85%;
}
.button-button {
    display: inline-block;
    margin: 2px;
}